
body {
    font-family: Arial, sans-serif;
    background-color: #e6edf7;
    margin: 0;
    padding: 0;
}


.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 56px;
    background-color: #d6e0f5;
    border: 1px solid #c0c8da;
    border-radius: 5px;
    text-align: center;
}

.login-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

form input[type="text"],
form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #5a7dbf;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    width: 90%;
}

button:hover {
    background-color: #4b6da0;
}
